body {
    margin: 0;
    color: white;
}

html { 
    background: url(wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kopf {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    vertical-align: middle;
}

.quarter {
    width: 25%;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    vertical-align: middle;
}

.half {
    width: 50%;
    font-family: "Leckerli One", cursive;
    font-size: 40px;
}

.idea {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-gap: 40px;
}

.text-gross {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    grid-row-start: 10;
    padding-left: 12px;
}

.products {
    grid-column-start: 3;
    padding-top: 40px;
    text-align: left;
    grid-row-start: 10;
    padding-left: 12px;
}
.btn {
    border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto",sans-serif;
  border-radius: 6px;
}

.btn:hover {
    background-color: rgba(94, 99, 104, 0.473);
}

a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}

.icon-bar {
    font-size: 24px;
    
}

.home {
    padding-top: 16px;
}

.products__section {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 25% 100px 100px 100px auto;
    grid-template-columns: 20% 5% 25% auto;
    font-family: "Roboto", sans-serif;
}

.products__section-grid-left {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.products__section-grid-right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

